name: CI
on:
  push:
    branches:
      - main
    paths:
      - "packages/posthog_flutter/**"
      - ".github/workflows/ci.yml"
      - "Makefile"
      - "ktlint-baseline.xml"
  pull_request:
    paths:
      - "packages/posthog_flutter/**"
      - ".github/workflows/ci.yml"
      - "Makefile"
      - "ktlint-baseline.xml"

# Publish using custom workflow
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6

      - name: 'Set up Java'
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: 'temurin'

      - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c # v1.7.1
      - uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          channel: 'stable'
          
      - name: Select Xcode version
        uses: maxim-lobanov/setup-xcode@60606e260d2fc5762a71e64e74b2174e8ea3c8bd # v1.6.0
        with:
          xcode-version: '16.4'

      - name: Install dependencies
        run: |
          flutter pub get
          cd example
          flutter pub get
        working-directory: ./packages/posthog_flutter

      - name: SDK format check
        run: |
          make installLinters
          make checkFormatDart
          make analyzeDart
          make formatKotlin
          make formatSwift
        working-directory: ./packages/posthog_flutter

      - name: Test
        run: |
          flutter test
        working-directory: ./packages/posthog_flutter

      - name: Build iOS
        working-directory: ./packages/posthog_flutter/example
        run: flutter build ios --simulator --no-codesign

      - name: Build macOS
        working-directory: ./packages/posthog_flutter/example
        run: flutter build macos

      - name: Build Android
        working-directory: ./packages/posthog_flutter/example
        run: flutter build apk

      - name: Build Web
        working-directory: ./packages/posthog_flutter/example
        run: flutter build web
