name: CI
on:
  push:
    branches:
      - master
  pull_request:

# Publish using custom workflow
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dart-lang/setup-dart@v1
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Install dependencies
        working-directory: ./example
        run: flutter pub get
      - name: Build iOS
        working-directory: ./example
        run: flutter build ios
      - name: Build Android
        working-directory: ./example
        run: flutter build apk
